In [2]:

#pep8 test verfied 
import pandas as pd
import numpy  as np
import random as rd
import numpy  as np
import time
import resource
import copy
from tqdm import tqdm

In [3]:
# ---------------------------- importation des donnee du fichier excel -----------------------------------
data = pd.read_excel('/Users/macbookair/distance.xlsx')
distances=np.array(data) 
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,0.000000,666.108099,281.113856,395.600809,291.204396,326.266762,640.800281,426.878203,600.187471,561.471282,...,286.923335,46.097722,181.176709,274.590604,410.030487,728.971879,798.514245,707.000707,406.263461,360.069438
1,666.108099,0.000000,649.326574,1047.091209,945.145491,978.084863,45.000000,956.151139,1134.955946,1132.982789,...,392.460189,636.415745,509.828403,921.791734,1028.846441,1191.511645,1301.508740,1243.724246,635.019685,390.448460
2,281.113856,649.326574,0.000000,603.510563,508.944987,542.517281,610.573501,308.058436,485.643902,487.262763,...,288.530761,240.520269,361.178626,505.692594,652.533524,1005.944830,1067.637579,970.322111,651.248800,504.207299
3,395.600809,1047.091209,603.510563,0.000000,104.403065,69.641941,1026.364945,525.000000,611.003273,533.900740,...,681.487344,436.606230,537.703450,125.299641,109.201648,516.236380,526.806416,417.432629,579.870675,689.528825
4,291.204396,945.145491,508.944987,104.403065,0.000000,35.355339,923.593525,470.558179,583.630876,513.468597,...,577.169819,332.453004,436.835209,31.622777,150.083310,552.268051,584.144674,478.591684,509.754843,594.348383

In [4]:
# ------------------------------------  Fonctions outils -------------------------------

# les indice des villes dans ce programme sont decale par rapport aux 
#indices reels : ville avec indice 0 au programme correpond a la ville 1 


Heads = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]   # liste d'indice des villes Nb :
def cost(L):      #calcul le cout d'une solution
    somme = 0; 
    for i in range(len(L)-1):
        somme+=distances [L[i]][L[i+1]]
    return somme
def generate_solution(Nb_solution=1000): # permet de generer des solutions aleatoires
    population= []
    for i in range(Nb_solution):
        L = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]
        S = []
        while len(L)>0:
            j= rd.choice(L) #choisir aleatoirement des ville 
            S.append(j) 
            L.remove(j) #supprimer les villes parmi choisis pour eviter la viste d'une ville deux fois 
        population.append(S)
    return population

def child(S1,S2):  # evolution a partir de deux parent 
    M=[]
    for i in range(15):
        j= rd.choice(S1)
        M.append(j)
 # ici on alterne la position d'une ville aleatoirement choisie par sa position dans le second parent
    for j in M:
        indice_arrivee =S2.index(j)
        indice_depart= S1.index(j)
        S1[indice_depart],S1[indice_arrivee] = S1[indice_arrivee],S1[indice_depart]
    L = S1
    return L

In [5]:
def min_cout(cost,listy):
    mini = 100000
    index = 1
    for i in range(len(listy)):
        if cost(listy[i]) < mini:
            mini = cost(listy[i])
            index = i
    return [mini,listy[index]]

In [ ]:
# ------------------------------------- Programme principale -------------------------------------

Nb_solution = 1000  
population= generate_solution(Nb_solution) # population initiale avec avec 1000 solutions
C= population.copy()
Evolue = C
rangee = 200

best_solution=[]

for i in tqdm(range(1,rangee+1)):    
    for j in range(len(Evolue)):# permet le croisement des 25 premiers solution avec les les 25 derniers solution 
        random_choice = rd.randint(0,len(Evolue)-1)
        Evolue[j]=child(Evolue.copy()[j],Evolue.copy()[random_choice]) #croiser les deux solution.
#     print(min_cout(cost,Evolue))
    cout_minimum = min_cout(cost,Evolue)[0] # cout minimum a partir de la liste de solutions
     # cout minimum a partir de la liste de solutions 
#     print([(x,cost(x)) for x in Evolue if cost(x) == cout_minimum])
    best_solution.append([x for x in Evolue.copy() if cost(x) == cout_minimum][0]) # ajout de la bonne solution parmi ceux evolue
    minimum_global = min_cout(cost,best_solution)[0]
#     print([(x,cost(x)) for x in best_solution])

print ('the optimal solution is :',[(x,cost(x)) for x in best_solution if cost(x) <= minimum_global]) # afficher la meilleur solution avec le cout correspondant

time_start = time.perf_counter()
#run your code

mem=resource.getrusage(resource.RUSAGE_SELF).ru_maxrss/1024.0/1024.0
time_elapsed = (time.perf_counter() - time_start) * 3600
print('\nInput data :',rangee,'evolution steps and a population of',Nb_solution,'\n\nTime Elapsed to run this algorithm is :',time_elapsed,'hours,\nA memory usage of:',mem,'MB')

 42%|████▏     | 84/200 [00:10<00:16,  7.12it/s]